<section class="hero is-medium mt-6" id="aegis-hero">
  <div class="hero-body">
    <div class="notification is-danger is-light" id="notification">
      <button class="delete" (click)="deleteNotification('notification')"></button>
      ATTENTION : Ce site n'est pas le site officiel d'Aegis<br>
      C'est un prototype mis en place dans le but de montrer mes idées, compétences et ma motivation.<br>
    </div>
  </div>
</section>

<section class="hero is-large " id="hexleague-hero" routerLink="/tft_team">
  <div class="hero-body">
    <div class="box hero-title">
      <div class="title is-2 has-text-centered" >C'est le retour de la Hexleague, découvrez nos joueurs</div>
    </div>
  </div>
</section>
  
 <section class="hero is-large" id="merch-hero">
  <a href="https://boutiqueaegis.fr/">
    <div class="hero-body">
      <div class="box hero-title">
        <div class="title is-2 has-text-centered" >Le nouveau merch est disponible !</div>
      </div>
    </div>
  </a>
</section>

<section class="hero is-large" id="lfl-roster-hero" routerLink="/lol_team">
    <div class="hero-body">
      <div class="box hero-title">
        <div class="title is-2 has-text-centered" >Aegis dévoile son équipe LFL</div>
      </div>
    </div>
  </section>
